*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:9px 38px 0px 30px;
    gap: 20px;
    background-color: #4a5864;
}
.header button{
    border-radius: 5px;
    border: none;    
    color: rgb(255, 255, 255);
    background-color: #4a5864;
    width: 100px;


}

#section-first{
    background-color: #4a5864;    
    display: flex; 
    color: white;
    
}


#section-first .content{
    display: flex;
    flex-direction: column;
    padding: 96px 0 0px 84px;
    
}
